.containerTableManageuser {
  width: 90%;
  min-height: 100px;

  margin: 0 auto;
  margin-top: 200px;
  .box-containerManageUser {
    margin-bottom: 20px;
  }
  .titleManageUser {
    text-align: center;
    font-size: 20px;
    color: blue;
    font-weight: 700;
  }
}
