@media only screen and (max-width: 2280px) and (min-width: 640px) {
  .container-doctorInfor {
    width: 50%;

    padding: 0 20px 20px 0px;

    padding: 0 6px;
    .titleAddressClinic {
      font-size: 16px;
      font-weight: 600;
    }
    .contentAddressClinic {
      font-size: 14px;
    }
    .contentNameClinic {
      font-size: 14px;
    }
    .box-price-doctor {
      width: 100%;
      border-top: 2px solid #eee;
      padding-top: 5px;
      .Watch-detail {
        padding: 0 5px;
        color: #45c3db;
        &:hover {
          cursor: pointer;
        }
      }
    }
    .box-price-after-detail {
      width: 100%;
      // background-color: #45c3db;
      position: relative;
      border-top: 2px solid #eee;
      padding-top: 5px;

      .price {
        position: absolute;
        top: 5px;
        right: 0;
      }
      .Watch-detail {
        color: #45c3db;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}
@media only screen and (max-width: 639px) and (min-width: 570px) {
  .container-doctorInfor {
    width: 50%;

    padding: 0 20px 20px 0px;

    padding: 0 6px;
    .titleAddressClinic {
      font-size: 16px;
      font-weight: 600;
    }
    .contentAddressClinic {
      font-size: 14px;
      font-weight: 600;
    }
    .contentNameClinic {
      font-size: 14px;
    }
    .box-price-doctor {
      width: 100%;
      border-top: 2px solid #eee;
      padding-top: 5px;
      .Watch-detail {
        padding: 0 5px;
        color: #45c3db;
        &:hover {
          cursor: pointer;
        }
      }
    }
    .box-price-after-detail {
      width: 100%;
      // background-color: #45c3db;
      position: relative;
      border-top: 2px solid #eee;
      padding-top: 5px;

      .price {
        position: absolute;
        top: 5px;
        right: 0;
      }
      .Watch-detail {
        color: #45c3db;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}
@media only screen and (max-width: 569px) and (min-width: 0px) {
  .container-doctorInfor {
    width: 50%;

    padding: 0 20px 20px 0px;
    padding: 0 6px;
    .titleAddressClinic {
      font-size: 12px;
      font-weight: 600;
    }
    .contentAddressClinic {
      font-size: 12px;
      font-weight: 600;
    }
    .contentNameClinic {
      font-size: 12px;
    }
    .box-price-doctor {
      width: 100%;
      border-top: 2px solid #eee;
      padding-top: 5px;
      span {
        font-size: 12px;
      }
      .Watch-detail {
        padding: 0 5px;
        color: #45c3db;
        display: flex;

        &:hover {
          cursor: pointer;
        }
      }
    }
    .box-price-after-detail {
      width: 100%;
      // background-color: #45c3db;
      position: relative;
      border-top: 2px solid #eee;
      padding-top: 5px;
      span {
        font-size: 12px;
      }
      .price {
        position: absolute;
        top: 5px;
        right: 0;
      }
      .Watch-detail {
        color: #45c3db;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}
