.section-medicalFacility {
  height: auto;

  display: flex;
  flex-direction: row;

  align-items: center;

  margin: 0 150px;

  position: relative;
  margin-top: 100px;
  .title-medicalFacility {
    position: absolute;

    font-size: 1.5vw;
    font-weight: 700;
    top: -20%;
    left: 0;
  }
  .see-more {
    position: absolute;

    top: -20%;
    right: 0;

    background-color: #eee;
  }
  .medicalFacility-content {
    height: 100%;
    width: 100%;

    .item-img {
      height: 150px;

      .img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        padding: 5px;
        border-radius: 10px;
      }
      h3 {
        display: block;
        width: 100%;

        padding-left: 5px;
        font-size: 16px;
      }
    }
  }
}
.slick-prev {
  z-index: 1000;
  left: 0 !important;

  transform: translate(-40%, -50%) !important;
  ::before {
    font-size: 20px !important;
  }
}
.slick-prev::before {
  font-family: 'sdfaf' !important;
  font-size: 24px !important;
  //   content: '\e257' !important;
  opacity: 1 !important;
  color: rgb(81, 221, 240) !important;
  padding: 2px;
}
.slick-next::before {
  font-family: 'sdfaf' !important;
  font-size: 24px !important;
  //   content: '\e257' !important;
  color: rgb(81, 221, 240) !important;
}
.slick-next {
  right: 0 !important;
  transform: translate(50%, -50%) !important;

  ::before {
    opacity: 1 !important;
    font-family: 'sdfaf' !important;
    font-size: 45px !important;
    color: rgb(81, 221, 240) !important;
    padding: 2px;
  }
}
