@media only screen and (max-width: 2280px) and (min-width: 1000px) {
  .section-specialty {
    height: auto;

    display: flex;
    flex-direction: row;

    align-items: center;

    margin: 0 150px;

    position: relative;
    margin-top: 80px;
    // background-color: #eee;

    .title-specialty {
      position: absolute;

      font-size: 1.5vw;
      font-weight: 700;
      top: -20%;
      left: 0;
    }
    .see-more {
      position: absolute;

      top: -20%;
      right: 0;

      background-color: #eee;
    }
    .specialty-content {
      height: 100%;
      width: 100%;

      .item-img {
        height: 150px;
        text-decoration: none;
        // background-color: red;
        .img {
          width: 98%;
          height: 100%;

          border-radius: 10px;
          background-size: cover;
          &:hover {
            cursor: pointer;
          }
        }
        h3 {
          display: block;
          width: 100%;

          padding-left: 5px;
          font-size: 16px;
          color: black;
          text-align: center;
          padding-top: 4px;
        }
      }
    }
  }
  .slick-prev {
    z-index: 1000;
    left: 0 !important;

    transform: translate(-40%, -50%) !important;
    ::before {
      font-size: 20px !important;
    }
  }
  .slick-prev::before {
    font-family: 'sdfaf' !important;
    font-size: 24px !important;
    //   content: '\e257' !important;
    opacity: 1 !important;
    color: rgb(81, 221, 240) !important;
    padding: 2px;
  }
  .slick-next::before {
    font-family: 'sdfaf' !important;
    font-size: 24px !important;
    //   content: '\e257' !important;
    color: rgb(81, 221, 240) !important;
  }
  .slick-next {
    right: 0 !important;
    transform: translate(50%, -50%) !important;

    ::before {
      opacity: 1 !important;
      font-family: 'sdfaf' !important;
      font-size: 45px !important;
      color: rgb(81, 221, 240) !important;
      padding: 2px;
    }
  }
  .slick-disabled {
    display: none !important;
  }
}

@media only screen and (max-width: 999px) and (min-width: 800px) {
  .section-specialty {
    height: auto;

    display: flex;
    flex-direction: row;

    align-items: center;

    margin: 0 20px;

    position: relative;
    margin-top: 80px;
    // background-color: #eee;

    .title-specialty {
      position: absolute;

      font-size: 1.7vw;
      font-weight: 700;
      top: -20%;
      left: 0;
    }
    .see-more {
      position: absolute;

      top: -20%;
      right: 0;

      background-color: #eee;
    }
    .specialty-content {
      height: 100%;
      width: 100%;

      .item-img {
        height: 150px;
        text-decoration: none;
        // background-color: red;
        .img {
          width: 98%;
          height: 100%;

          border-radius: 10px;
          background-size: cover;
          &:hover {
            cursor: pointer;
          }
        }
        h3 {
          display: block;
          width: 100%;

          padding-left: 5px;
          font-size: 16px;
          color: black;
          text-align: center;
          padding-top: 4px;
        }
      }
    }
  }
  .slick-prev {
    z-index: 1000;
    left: 0 !important;

    transform: translate(-40%, -50%) !important;
    ::before {
      font-size: 20px !important;
    }
  }
  .slick-prev::before {
    font-family: 'sdfaf' !important;
    font-size: 24px !important;
    //   content: '\e257' !important;
    opacity: 1 !important;
    color: rgb(81, 221, 240) !important;
    padding: 2px;
  }
  .slick-next::before {
    font-family: 'sdfaf' !important;
    font-size: 24px !important;
    //   content: '\e257' !important;
    color: rgb(81, 221, 240) !important;
  }
  .slick-next {
    right: 0 !important;
    transform: translate(50%, -50%) !important;

    ::before {
      opacity: 1 !important;
      font-family: 'sdfaf' !important;
      font-size: 45px !important;
      color: rgb(81, 221, 240) !important;
      padding: 2px;
    }
  }
  .slick-disabled {
    display: none !important;
  }
}
@media only screen and (max-width: 799px) and (min-width: 560px) {
  .section-specialty {
    height: auto;

    display: flex;
    flex-direction: row;

    align-items: center;

    margin: 0 20px;

    position: relative;
    margin-top: 80px;
    // background-color: #eee;

    .title-specialty {
      position: absolute;

      font-size: 1.7vw;
      font-weight: 700;
      top: -20%;
      left: 0;
    }
    .see-more {
      position: absolute;

      top: -20%;
      right: 0;

      background-color: #eee;
    }
    .specialty-content {
      height: 100%;
      width: 100%;

      .item-img {
        height: 150px;
        text-decoration: none;
        // background-color: red;
        .img {
          width: 98%;
          height: 100%;

          border-radius: 10px;
          background-size: cover;
          &:hover {
            cursor: pointer;
          }
        }
        h3 {
          display: block;
          width: 100%;

          padding-left: 5px;
          font-size: 16px;
          color: black;
          text-align: center;
          padding-top: 4px;
        }
      }
    }
  }
  .slick-prev {
    z-index: 1000;
    left: 0 !important;

    transform: translate(-40%, -50%) !important;
    ::before {
      font-size: 20px !important;
    }
  }
  .slick-prev::before {
    font-family: 'sdfaf' !important;
    font-size: 24px !important;
    //   content: '\e257' !important;
    opacity: 1 !important;
    color: rgb(81, 221, 240) !important;
    padding: 2px;
  }
  .slick-next::before {
    font-family: 'sdfaf' !important;
    font-size: 24px !important;
    //   content: '\e257' !important;
    color: rgb(81, 221, 240) !important;
  }
  .slick-next {
    right: 0 !important;
    transform: translate(50%, -50%) !important;

    ::before {
      opacity: 1 !important;
      font-family: 'sdfaf' !important;
      font-size: 45px !important;
      color: rgb(81, 221, 240) !important;
      padding: 2px;
    }
  }
  .slick-disabled {
    display: none !important;
  }
}
@media only screen and (max-width: 559px) and (min-width: 0px) {
  .section-specialty {
    height: auto;

    display: flex;
    flex-direction: row;

    align-items: center;

    margin: 0 20px;

    position: relative;
    margin-top: 80px;
    // background-color: #eee;

    .title-specialty {
      position: absolute;

      font-size: 2.6vw;
      font-weight: 700;
      top: -20%;
      left: 0;
    }
    .see-more {
      position: absolute;
      font-size: 10px;
      top: -20%;
      right: 0;

      background-color: #eee;
    }
    .specialty-content {
      height: 100%;
      width: 100%;

      .item-img {
        height: 90px;
        text-decoration: none;
        // background-color: red;
        .img {
          width: 98%;
          height: 100%;

          border-radius: 10px;
          background-size: cover;
          &:hover {
            cursor: pointer;
          }
        }
        h3 {
          display: block;
          width: 100%;

          padding-left: 5px;
          font-size: 10px;
          color: black;
          text-align: center;
          padding-top: 4px;
        }
      }
    }
  }
  .slick-prev {
    z-index: 1000;
    left: 0 !important;

    transform: translate(-40%, -50%) !important;
    ::before {
      font-size: 20px !important;
    }
  }
  .slick-prev::before {
    font-family: 'sdfaf' !important;
    font-size: 24px !important;
    //   content: '\e257' !important;
    opacity: 1 !important;
    color: rgb(81, 221, 240) !important;
    padding: 2px;
  }
  .slick-next::before {
    font-family: 'sdfaf' !important;
    font-size: 24px !important;
    //   content: '\e257' !important;
    color: rgb(81, 221, 240) !important;
  }
  .slick-next {
    right: 0 !important;
    transform: translate(50%, -50%) !important;

    ::before {
      opacity: 1 !important;
      font-family: 'sdfaf' !important;
      font-size: 45px !important;
      color: rgb(81, 221, 240) !important;
      padding: 2px;
    }
  }
  .slick-disabled {
    display: none !important;
  }
}
